{% extends 'store/base.html' %}
{% load static %}
{% block content %}

	<h3 class="cart-header">
		Shopping cart
	</h3>
	<hr>
	{% if order != '' %}
	<div class="cart-body">

		<div class="cart-total">
			<div class="pb-2">
				subtotal( <strong>{{ order.total_items }}</strong>
				{% if order.total_items > 1 %} 
				items
				{% else %}
				item
				{% endif %}
				):
				<span class="total-rs"><strong>Rs.{{ order.total }}</strong></span>
			</div>
			<div class="proceed-buy">
			<a href="{% url 'checkout' %}">Proceed to Buy</a>	
			</div>
		</div>
	</div>
	<div class="cart-items">
		{% for item in order.order_items.all %}
		<div class="cart-row">
			<img class="row-image" src="{{item.product.imageURL}}">
		</div>
		<div class="cart-row">
			<div class="pt-3">
				{{item.product.title}}
			</div>
			<div class="pt-2">Price : 
				Rs.{{item.product.price|floatformat:2}}
			</div>
			<div class="pt-2">
				<button data-product="{{item.product.id}}" 
					data-action="remove" class="chg-quantity update-cart">
					<i class="fa fa-minus" aria-hidden="true"></i>
				</button>
				<span class="pl-1 pr-1">{{item.quantity}}</span>
				<button data-product="{{item.product.id}}" 
					data-action="add" class="chg-quantity update-cart">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</button>
				<span class="cart-delete pl-1"><button data-product="{{item.product.id}}" 
					data-action="delete" class="chg-quantity update-cart">
					delete</button></span>
				<span class="cart-save pl-1"><button>Save</button></span>

			</div>
			<div class="pt-2">Total Price: 
				Rs.{{ item.total }}
			</div>
		</div>
		<br>
		<hr>
		{% endfor %}
	</div>
	{% else %}
	
	<div class="container empty-cart text-center">
		<h2 class="pb-5">Your Cart is Empty</h2>
		<div class="continue">
			<a href="{% url 'home' %}">Continue Shopping</a>
		</div>
	</div>

	{% endif %}

{% endblock content %}
