{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<h3 class="cart-header">
    Saved Items
</h3>
<hr>
{% if save_items != 0 %}
<div class="container bg-secondary">
    {% for item in wishlist %}
    <div class="row product-details text-dark">
        <div class="col-sm-12 col-md-6 pt-5">
            <img class="detail-image w-50" src="{{item.product.imageURL}}">
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="pt-3 font-weight-bold text-xl">
                <strong>{{ item.product.title }}</strong>
            </div>
            <div class="pt-3 pb-3 font-weight-bold">
              Price : Rs. <span class="text-danger">{{ item.product.price }}</span> 
            </div>
            <div class="wish-link">
                <span class="pr-3">
                    <a class="bg-info text-light" href="{% url 'details' item.product.pk %}">Details</a>
                </span>
                <a data-product="{{ item.product.id }}" data-action="add-remove" class="bg-warning text-danger add-wishlist" href="">Remove</a>    
            </div>
            <div class="detail-button pt-3">
                <button data-product="{{ item.product.id }}" data-action="add" class="add-to-cart text-dark update-cart">Add to cart</button>
            </div>
            
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% else %}
	
<div class="container empty-cart text-center">
	<h2 class="pb-5">You  haven't saved Items</h2>
	<div class="continue">
		<a href="{% url 'home' %}">Back to home </a>
	</div>
</div>

{% endif %}


{% endblock content %}